<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons (click)="openFilter($event)" slot="end">
      <span *ngIf="categoryName != undefined && categoryName != 'All' ">{{categoryName}}</span>
      <ion-icon slot="start" [name]="categoryFilter ? 'pricetag' : 'pricetag-outline'" slot="icon-only"></ion-icon>
    </ion-buttons>
    <ion-title>The news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scrollContent($event)" #contentRef>
  <ion-progress-bar slot="fixed" [value]="valueProgressBar"></ion-progress-bar>
  <ion-searchbar animated [(ngModel)]="searchTerm" (ionChange)="searchChanged()" debounce="1000"></ion-searchbar>

  <div *ngIf="totalPosts > 0 else elseBlock" class="ion-text-center ion-padding">
    {{ totalPosts }} News 
  </div>

  <ng-template #elseBlock>
    <div class="ion-text-center ion-padding">No result found</div>
  </ng-template>
  
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img (click)="readPost(post.id)" [src]="post.media_url" *ngIf="post.media_url" class="post-img"></ion-img>
      <div [innerHTML]="post.excerpt.rendered"></div>
      <ion-button expand="full" [routerLink]="'/posts/' + post.id" text-right>Read More...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll *ngIf="page < totalPages" threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Loading more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
